Django
-e hg+http://bitbucket.org/jespern/django-piston/#egg=piston
django-mediasync
-e git+git://github.com/toastdriven/django-haystack.git#egg=django-haystack
django-registration
django-timezones
pytz

# One of the next two
whoosh
pysolr
