{% extends "base.html" %}

{% block featureBox %}
    {% if messages %}
        <div id="featureBox">
            <ul class="messages">
                {% for message in messages %}
                    <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block ltColumn %}
    <h2>Account Information</h2>
    <p class="warning">Warning: Your name, organization, as well as your phone number if you choose to include one, may be displayed publicly.</p>
    <p>Would you like to <a href="{% url django.contrib.auth.views.password_change %}">change your password</a>?</p>
    <form action="." method="POST">
        <ul>
            {{ form.as_ul }}
            <li>
                <button class="updateBtn" name="update" type="submit">
                    <span>Update</span>
                </button>
            </li>    
        </ul>
    </form>
  
{% endblock %}

{% block rtColumn %}
    {% if posts %}
        <h2>Your recent posts</h2>
        <ul class="post_list">
            {% for post in posts %}
                <li class="post {% cycle 'even' 'odd' %}">
                    <h3 class="recentHeaders"><a href="{% url view_post post.pk %}">{{ post.title }}</a></h3>
                    <form action="{% url view_post post.pk %}" method="post" class="toggle_form">
                        <input type="hidden" name="next" value="{% url account_settings %}" class="next" />
                        <input type="hidden" name="fulfilled" value="{% if post.fulfilled %}false{% else %}true{% endif %}" class="fulfilled" />
                        <button class="fulfilledBtn {% if post.fulfilled %}fulfilled{% endif %}" type="submit">
                            <span>{% if post.fulfilled %}Show{% else %}Hide{% endif %} Post</span>
                        </button>
                    </form>
                    <div class="clear"></div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}