{% extends "base.html" %}
{% block title %}Accounts - {{block.super}}{% endblock %}
{% block main_content %}

<h1>Patient Accounts</h1>
    <p>
    <a href="/accounts/register/patient">Create |</a>
    <a href="/accounts/update/">Update |</a>
    <a href="/accounts/view/">View |</a>
    <a href="/accounts/delete">Delete</a>
    </p>
    
<h1>Provider Accounts</h1>

    <p>
    <a href="/accounts/register/provider">Create |</a>
    <a href="/accounts/update/">Update |</a>
    <a href="/accounts/view/">View |</a>
    <a href="/accounts/delete">Delete</a>
    </p>
    
    <p> NOTE: Only providers may create/edit new patient accounts.</p>
  
{% endblock %}
