{% extends "base.html" %}

{% block ltColumn %}
  {% if updated %}
  Account settings updated successfully!
  {% endif %}
  <p><label>User name:</label> <span>{{ user.username }}</span></p>
  <p><label>Email:</label> <span>{{ user.email }}</span></p>
  <p><label>First Name:</label> <span>{{ user.first_name }}</span></p>
  <p><label>Last Name:</label> <span>{{ user.last_name }}</span></p>
  <form action="." method="POST">
    {{ form.as_p }}
    <input type="submit" name="update" />
  </form>

  <p class="warning">Warning: Your name, organization, as well as your phone number if you choose to include one, may be displayed publicly.</div>
{% endblock %}

{% block rtColumn %}
    {% if posts %}
        Your recent posts
        <ol>
            {% for post in posts %}
                <li>
                    <a href="{% url view_post post.pk %}">{{ post.title }}</a>
                    <form>
                        <input type="submit" value="Mark as fulfilled.">
                    </form>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}