{% extends "base.html" %}

{% block featureBox %}
<div id="featureBox">
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='.' method='POST'>
      <label for="username">User name:</label>
      <input type="text" name="username" value="" id="username">
      <br>
      <label for="password">Password:</label>
      <input type="password" name="password" value="" id="password">
      <br>
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
</div>
{% endblock %}
