{% extends "base.html" %}

{% block bodyClass %}signin{% endblock %}

{% block featureBox %}
<div id="ltColumn">
    <h2>Log In</h2>
    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}
    <form action='.' method='POST'>
        <ul>
            <li>
                <label for="username">User Name</label>
                <input type="text" name="username" value="" id="username">
            </li>
            <li>
                <label for="password">Password</label>
                <input type="password" name="password" value="" id="password">
            </li>
            <li>
                <a class="forgotPassword" href="#">Forgot your password?</a>
            </li>    
            <li>
                <button class="signinBtn" type="submit">
                    <span>Sign In</span>
                </button>
            </li>
            <li>
                <input type="hidden" name="next" value="{{ next|escape }}" />
            </li>
        </ul>
  </form>
</div>
{% endblock %}
