{% extends "base.html" %}

{% block bodyClass %}signin{% endblock %}

{% block featureBox %}
<div id="ltColumn">
    <h2>Reset your password</h2>
    <p class="warning">Enter your email address and we will mail a new temporary password to you.</p>
    <form action="" method="post">
        <ul>
            {{ form.as_ul }}
            <li>
                <button class="resetBtn" type="submit" value="Reset">
                    <span>Reset</span>
                </button>
            </li>    
        </ul>
    </form>
</div>
{% endblock %}
