					<table id="haveTable">
				        <thead>
					        <tr id="titles">
								<th class="left">Name</th>
                                <th class="center">Type</th>
								<th class="center">Organization</th>
								<th class="center">Location</th>
                                <th class="center">Time</th>
                                <th class="right">Category</th>

							</tr>
						</thead>
						<tbody>
					            {% for post in post_list %}
						    <tr class="{% if forloop.counter.is_even %}even{% else %}odd{% endif %}">
								<td class="dataContent left">
								    <a class="dataName" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
								</td>
                                <td class="center">
                                  <span>{{ post.type|upper }}</span>
                                </td>
								<td class="center">
                                  <span>{{ post.contact.get_profile.organization }}</span>
								</td>
								<td class="center">{{ post.location }}</td>
								<td class="center">
								    <span>{{ post.created_at|date }}</span>
								</td>
                                <td class="category">
                                  <span>{{ post.category }}</span>
                                </td>
							</tr>
						        {% endfor %}
						</tbody>
				    </table>
