{% extends "base.html" %}
{% load timezone_filters %}

{% block ltColumn %}
      <h3>Search results:</h3>
      <ul class="post_list">
        {% for post in page.object_list %}
        <li class="post {% cycle 'even' 'odd' %}">
          <h4>
            <a class="dataName" href="{{ post.object.get_absolute_url }}">
              {{ post.title }}
            </a>
            <span>{{ post.type }} {{ post.category }}</span>
          </h4>
          <!-- <blockquote>{{ post.content }}</blockquote> -->
          <p>Posted <em>{{ post.created_at|localtime:"EST"|date }}</em> by <em>{{ post.object.contact.get_profile.organization }}</em> in <em>{{ post.location }}</em></p>
        </li>
        {% endfor %}
      </ul>
{% endblock %}
