{% load cache %}

{% cache 600 search_bar %}
    <form id="searchForm" action="/search" method="get">
        <ul>
            <li class="label">I am looking for people who</li>
            <li class="have_field">
                {{ form.have }}
                <label for="id_have">have</label>
            </li>
            <li class="need_field">
                {{ form.need }}
                <label for="id_need">need</label>
            </li>
            <li class="q_field">
                {{ form.q }}
            </li>
            <li class="category_field">
                <label for="id_category">in</label> {{ form.category }}
            </li>
            <li class="last">
                <button class="searchBtn" type="submit">
                    <span>Go</span>
                </button>
            </li>
        </ul>
    </form>
    <div class="clear"></div>
{% endcache %}
