<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>we have we need</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Site to post we have we need."/>

<!--
		<link href="{{web_server}}css/base-style.css" type="text/css" rel="stylesheet" /> 
		<script language="javascript" src="{{web_server}}js/form_validation.js" type="text/javascript"></script>
-->
	
	{% block head %}
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	{% endblock %}
        
        
	
</head>
	<body>
	{%block high_breadcrumbs %} {% endblock %}
	
	<div id="wrapper">
		
		<h1>We Have We Need</h1>

		{% if user.is_authenticated %}
    		<p align="right">Hello <strong style="color:#7fb13b;">{{ user.first_name }}</strong>. You're logged in.</p>
		<div id="top-nav">
			<br>
				    
				   <a href="/">Home</a> |
				   <a href="/post">Post</a> |
				   <a href="/logout">Logout</a>
	       	</div>

		{% else %}
    		<p align="right"><strong style="color:#7fb13b;">Welcome. Please log in.</strong></p>

		<div id="top-nav">
			<br/>
				   <a href="/">Home</a> |
				   <a href="/post">Post</a> |
				   <a href="/login">Login</a> |
				   <a href="/signup">Signup</a>
				   
	       	</div>
		{% endif %}
                
                
<br><br>
	
	{%block main_content %}{% endblock %}
	{%block extra_body %}{% endblock%}
	{%block low_breadcrumbs %}{% endblock %}
	 

</body>
</html>
