{% load search_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% block head %}
            <title>{% block title %}we have we need{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="description" content="A site where relief organizations can quickly post their most urgent needs and have them matched by generous donors during a time of crisis."/>
            <link rel="stylesheet" href="/media/styles/main.css" type="text/css" media="screen" />
            <link rel="image_src" href="/media/images/logo.png" />
            <!-- feeds -->
            <link rel="alternate" type="application/rss+xml" title="Needs" href="/feeds/need/" />
            <link rel="alternate" type="application/rss+xml" title="Haves" href="/feeds/have/" />
            <link rel="alternate" type="application/rss+xml" title="Haves and needs" href="/feeds/all/" />
	    {% endblock %}
	</head>

	<body class="{% block bodyClass %}home{% endblock %}">

    {% block headerWrapper %}
		<div id="headerWrapper">
      {% block pageMain %}
			<div id="pageMain">
        {% block header %}
				<div id="header">
      	  {% block utility %}
		      {% if user.is_authenticated %}
					<div id="utility">
				        <ul>
				            <li id="utilityRegister"><a href="/accounts/settings/">Account Settings</a></li>
				            <li id="utilityLogout"><a href="/logout/">Log Out</a></li>
				        </ul>
					</div>

		      {% else %}
					<div id="utility">
				        <ul>
				            <li id="utilityRegister"><a href="/accounts/request/">Request Access</a></li>
				            <li id="utilitySignup"><a href="/login/">Log In</a></li>
				        </ul>
					</div>
      		{% endif %}
	        {% endblock %}  <!-- utility -->
					<div class="clear"></div>
					<h1><a href="/">We Have We Need</a><span>ALPHA</span></h1>
					<h2 id="site">Earthquake Haiti: 2010</h2>
      	  {% block nav %}
					<div id="nav">
						<ul>
							<li id="nav_post"><a href="/post/">Post</a></li>
				            <li id="nav_have"><a href="/haves/">Haves</a></li>
				            <li id="nav_need"><a href="/needs/">Needs</a></li>
						</ul>
					</div>
	        {% endblock %}  <!-- nav -->
					<div class="clear"></div>
      	  {% block search %}
					<div id="search">
						{% search_bar %}
					</div>	
	        {% endblock %}  <!-- search -->
				</div>
	      {% endblock %}  <!-- header -->
      	{% block featureBox %}
	      {% endblock %}  <!-- featureBox -->
      	{% block ltColumn %}
	      {% endblock %}  <!-- ltColumn -->
      	{% block rtColumn %}
	      {% endblock %}  <!-- rtColumn -->
				<div class="clear"></div>			
			</div>
	    {% endblock %}  <!-- pageMain -->
		</div>
	  {% endblock %}  <!-- headerWrapper -->
	  {% block footerWrapper %}
	  <div id="footerWrapper">
      {% block footerMain %}
	    <div id="footerMain">
        <center>
          <a href="/termsofuse/">Terms of Use</a> |
          <a href="mailto:help@wehaveweneed.org">Contact Us</a>
        </center>
      </div>
      {% endblock %}
    </div>
    {% endblock %}
</body>
</html>
