{% extends "base.html" %}

{% block bodyClass %}category{% endblock %}

{% block ltColumn %}
	<div class="post_list haves">
		<h2>{{ category.name }} Haves</h2>
		{% with haves as post_list %}
			{% include 'includes/post_list.html' %}
		{% endwith %}
		{% if haves %}
			<a href="{% url web_viewhaves category.slug %}">View more haves</a>
		{% else %}
			<p>No available haves</p>
		{% endif %}
	</div>
{% endblock %}
	
{% block rtColumn %}
    <div class="post_list needs">
		<h2>{{ category.name }} Needs</h2>
		{% with needs as post_list %}
			{% include 'includes/post_list.html' %}
		{% endwith %}
		{% if needs %}
			<a href="{% url web_viewneeds category.slug %}">View more needs</a>
		{% else %}
			<p>No available needs</p>
		{% endif %}
	</div>
{% endblock %}
