{% extends "base.html" %}

{% block bodyClass %}have{% endblock %}

        {% block ltColumn %}
				<div id="ltColumn">
					<h2 class="detailHeader">Name of Have</h2>
					<a id="reportProblem" href="#">Report a Problem</a>
					<div class="clear"></div>
					<ul>
						<li>
							<span class="detailHeader">Location</span>
							<span>Actual Location</span>	
						</li>	
						<li>
							<span class="detailHeader">Time Available</span>
							<span>Feb. 20 - Mar. 2</span>	
						</li>
						<li>
							<span class="detailHeader">From</span>
							<span>Name of organization</span>	
						</li>
					</ul>
					<div id="contactInfo">
						<h3>Need this? Contact:</h3>
						<a href="#">email address of contact</a>
					</div>	
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis viverra elit non varius. Aenean pretium, sem eget pulvinar egestas, neque augue scelerisque ipsum, in porta tortor lectus vel odio. Mauris ut turpis nulla, nec dapibus nisi. Fusce consequat congue euismod. Fusce at leo ac tortor tincidunt porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>	
				</div>
        {% endblock %}  <!-- ltColumn -->
        {% block rtColumn %}
				<div id="rtColumn">
					
				</div>
        {% endblock %}  <!-- rtColumn -->
