{% extends "base.html" %}
	{% block bodyClass %}
		<body class="haves">
	{% endblock %}
      	{% block ltColumn %}
				<div id="ltColumn">
					<h2>Haves</h2>
					<table id="haveTable">
				        <thead>
					        <tr id="titles">
								<th class="left">Name</th>
								<th class="center">Organization</th>
								<th class="center">Location</th>
								<th class="right">Time</th>
							</tr>
						</thead>
						<tbody>
						    <tr class="even">
								<td class="dataContent left">
								    <a class="dataName" href="#">Name of Have</a>
								    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec est sed orci congue gravida in in quam. Maecenas at nunc sem....</p>
								</td>
								<td class="center">
								    Organization Name
								</td>
								<td class="center">Location</td>
								<td class="right">
								    <span>Dec 20-Feb 2</span>
								</td>
							</tr>	
							<tr class="odd">
								<td class="dataContent left">
								    <a class="dataName" href="#">Name of Have</a>
								    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec est sed orci congue gravida in in quam. Maecenas at nunc sem....</p>
								</td>
								<td class="center">
								    Organization Name
								</td>
								<td class="center">Location</td>
								<td class="right">
								    <span>Dec 20-Feb 2</span>
								</td>
							</tr>
							<tr class="even">
								<td class="dataContent left">
								    <a class="dataName" href="#">Name of Have</a>
								    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec est sed orci congue gravida in in quam. Maecenas at nunc sem....</p>
								</td>
								<td class="center">
								    Organization Name
								</td>
								<td class="center">Location</td>
								<td class="right">
								    <span>Dec 20-Feb 2</span>
								</td>
							</tr>
							<tr class="odd">
								<td class="dataContent left">
								    <a class="dataName" href="#">Name of Have</a>
								    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec est sed orci congue gravida in in quam. Maecenas at nunc sem....</p>
								</td>
								<td class="center">
								    Organization Name
								</td>
								<td class="center">Location</td>
								<td class="right">
								    <span>Dec 20-Feb 2</span>
								</td>
							</tr>
						</tbody>
				    </table>
				</div>
	      {% endblock %}  <!-- ltColumn -->
      	{% block rtColumn %}
				<div id="rtColumn">
				</div>
	      {% endblock %}  <!-- rtColumn -->
