{% extends "base.html" %}

{% block feeds %}
<link rel="alternate" type="application/rss+xml" title="We Have We
Need: Haves and needs from all categories" href="/feeds/all/" />
{% endblock %}

{% load cache %}
{% block featureBox %}
<div id="featureBox">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="message">{{ message }}</li>
    {% endfor %}
  {% endif %}
  <h2>Welcome to We Have We Need</h2>
  <p> We Have We Need is a place where relief organizations can quickly 
post their most urgent needs and have them matched by generous 
donors during a time of crisis. This site was built by a group of 
geeky do-gooders who saw this as an opportunity to use technology 
to help bring people and donations together in the aftermath of a 
devastating earthquake in Haiti. If you'd like to participate in 
the program,
  <a href="mailto:help@wehaveweneed.org">please let us know</a>. </p>
</div>
{% endblock %}  <!-- featureBox -->

{% block ltColumn %}
<div id="ltColumn">
  {% cache 600 categories %}
  <h3>Categories</h3>
  <ul id="categories_nav">
    {% for cat in categories %}
    <li>{{ cat }} <span><a href="{% url web_viewhaves category=cat.slug %}">haves</a> | <a href="{% url web_viewneeds category=cat.slug %}">needs</a></span></li>
    {% endfor %}

  </ul>
  {% endcache %}
</div>
{% endblock %}  <!-- ltColumn -->

{% block rtColumn %}
<div id="rtColumn">
  <h3>Recent Haves and Needs</h3>
  {% include 'includes/post_list.html' %}
  {% if is_paginated %}
  <p id="pagination">
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="next">Next</a>
  {% endif %}
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" class="previous">Previous</a>
  {% endif %}
  </p>
  {% endif %}
</div>
{% endblock %}  <!-- rtColumn -->
