{% extends "base.html" %}
{% load cache %}
      	{% block featureBox %}
				<div id="featureBox">
					<h2>Welcome to We Have We Need</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis viverra elit non varius. Aenean pretium, sem eget pulvinar egestas, neque augue scelerisque ipsum, in porta tortor lectus vel odio. Mauris ut turpis nulla, nec dapibus nisi. Fusce consequat congue euismod. Fusce at leo ac tortor tincidunt porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
	      {% endblock %}  <!-- featureBox -->
      	{% block ltColumn %}
				<div id="ltColumn">
                  {% cache 600 categories %}
					<h3>Categories</h3>
					    <ul>
					{% for cat in categories %}
					        <li>{{ cat }} (<a href="{% url web_viewhaves category=cat.slug %}">haves</a>) (<a href="{% url web_viewneeds category=cat.slug %}">needs</a>)</li>
                                        {% endfor %}

					    </ul>
					{% endcache %}
				</div>
	      {% endblock %}  <!-- ltColumn -->
      	{% block rtColumn %}
				<div id="rtColumn">
					<h3>Recent Wants and Needs</h3>
					{% include 'includes/post_table.html' %}
					{% if is_paginated %}
						<p id="pagination">
							{% if page_obj.has_next %}
								<a href="?page={{ page_obj.next_page_number }}" class="next">Next</a>
							{% endif %}
							{% if page_obj.has_previous %}
								<a href="?page={{ page_obj.previous_page_number }}" class="previous">Previous</a>
							{% endif %}
						</p>
					{% endif %}
				</div>
	      {% endblock %}  <!-- rtColumn -->
