{% extends "base.html" %}
{% load cache %}

{% block featureBox %}
    {% if messages %}
        <div id="featureBox">
            <ul class="messages">
                {% for message in messages %}
                    <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}  <!-- featureBox -->

{% block ltColumn %}
    <div id="description" class="module">
        <h2>Welcome to We Have We Need</h2>
        <p>We Have We Need is a place where relief organizations can quickly post their most urgent needs and have them matched by generous donors during a time of crisis.</p>
        <p>If you'd like to participate in the program, <a href="mailto:help@wehaveweneed.org">please let us know</a>.</p>
    </div>  
    <div id="categories" class="module">  
        {% cache 600 categories %}
        <h2>Categories</h2>
        <ul id="categories_nav">
            {% for cat in categories %}
            <li>
                <a href="{% url category cat.slug %}">{{ cat }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
        {% endcache %}
    </div>
{% endblock %}  <!-- ltColumn -->

{% block rtColumn %}
    <h2>Recent Haves and Needs</h2>
    {% include 'includes/post_list.html' %}
    View more <a href="{% url web_viewallhaves %}">haves</a> and <a href="{% url web_viewallneeds %}">needs</a>.
{% endblock %}  <!-- rtColumn -->
