{% extends "base.html" %}
   {% block bodyClass %}
   <body class="post">
   {% endblock %}
        {% block ltColumn %}
				<div id="ltColumn">
					<h2>Post</h2>
					<form id="postForm" action="." method="POST">
					<ul>
						<li>
							<label><input class="radio" type="radio" name="word" />Have</label>
							<label><input class="radio" type="radio" name="word" />Need</label>
						</li>
						<li class="clear"></li>	
						<li>
							<label>Category</label>
							<select class="category" name="category">
							    <option value="select">Select a Category</option>
								<option value="1">Category 1</option>
								<option value="2">Category 2</option>
								<option value="3">Category 3</option>
								<option value="4">Category 4</option>
								<option value="5">Category 5</option>
								<option value="6">Category 6</option>
								<option value="7">Category 7</option>
								<option value="8">Category 8</option>
								<option value="9">Category 9</option>
								<option value="10">Category 10</option>
							</select>
						</li>		
						<li>
							<label>Location</label>
        					<input id="location" class="full" type="text" name="word" />
						</li>
						<li>
							<label id="timeHeader">Time</label>
							<ul id="timeDetails">
								<li>
									<label>To</label>
									<input id="to" class="full" type="text" name="word" />
								</li>
								<li>
									<label>From</label>
									<input id="from" class="full" type="text" name="word" />
								</li>
							</ul>	
						</li>
						<li>
							<label>Description</label>
							<textarea id="id_description" class="textarea" rows="5" cols="32" name="description"></textarea>
						</li>	
						<li>
							<button class="postBtn" type="submit">
                            	<span>Post!</span>
                        	</button>
						</li>	
					</ul>
					</form>
				</div>
        {% endblock %}  <!-- ltColumn -->
        {% block rtColumn %}
				<div id="rtColumn">
	
				</div>
        {% endblock %}  <!-- rtColumn -->
