{% extends "base.html" %}

{% block bodyClass %}post{% endblock %}

{% block ltColumn %}
    <h2>Post</h2>
    <form id="postForm" action="." method="POST">
        <ul>
            <li>
                {{ form.as_ul }}
            </li>
            <li>
                <button class="postBtn" value="Post" type="submit">
                    <span>Post</span>
                </button>
            </li>
        </ul>
    </form>
    <p class="warning">Warning: All data entered on this form, as well as the organization associated with your account, will be displayed publicly. Your name, email address and phone number (if provided) will only be shared with other verified users of We Have We Need.</p>
{% endblock %}  <!-- ltColumn -->
