{% extends "base.html" %}

{% block bodyClass %}signin{% endblock %}

{% block ltColumn %}
    <h2>Sign In</h2>
    <form id="signinForm" action="." method="get">
        <ul>	
            <li>
                <label>Email</label>
                <input id="email" class="full" type="text" name="word" />
            </li>
            <li>
                <label>Password</label>
                <input id="password" class="full" type="text" name="word" />
            </li>
            <li>
                <a href="#">Forgot your password?</a>
            </li>	
            <li>
                <button class="signinBtn" type="submit">
                    <span>Sign In</span>
                </button>
            </li>	
        </ul>	
    </form>
{% endblock %}  <!-- ltColumn -->
