{% extends "base.html" %}

{% block bodyClass %}signin{% endblock %}

        {% block ltColumn %}
				<div id="ltColumn">
					<h2>Sign Up</h2>
					<form id="signupForm" action="." method="get">
						<ul>
							<li>
								<label>First Name</label>
            					<input id="first" class="full" type="text" name="word" />
							</li>
							<li>
								<label>Last Name</label>
            					<input id="last" class="full" type="text" name="word" />
							</li>	
							<li>
								<label>Email</label>
            					<input id="email" class="full" type="text" name="word" />
							</li>
							<li>
								<label>Phone</label>
            					<input id="phone" class="full" type="text" name="word" />
							</li>
							<li>
								<label>Organization</label>
            					<input id="organization" class="full" type="text" name="word" />
							</li>
							<li>
								<label>Password</label>
            					<input id="password" class="full" type="text" name="word" />
							</li>
							<li>
								<label>Confirm Password</label>
            					<input id="confirm" class="full" type="text" name="word" />
							</li>
							<li>
								<button class="signupBtn" type="submit">
	                            	<span>Sign Up</span>
	                        	</button>
							</li>	
						</ul>	
					</form>	
				</div>
        {% endblock %}  <!-- ltColumn -->
        {% block rtColumn %}
				<div id="rtColumn">	
				</div>
        {% endblock %}  <!-- rtColumn -->
