{% extends "base.html" %}

{% block bodyClass %}termsofuse{% endblock %}

{% block ltColumn %}

    <h2>Terms of Use</h2>
    <p>Our friendly pro-bono lawyer made us say the following.</p>
    
    <ol>
        <li>
            <!-- 1 -->
            <h3>Acceptance of Terms</h3>
            <p>
                Welcome to the We Have We Need project.
                We Have We Need provides online services (the "Services") subject to the following Terms of Use (the "Terms").
                By using the Services, you agree to the following terms with the individual, individuals, entity, or entities that offer the Services under the Terms ("Contributor(s)").
                You may not use the Services if you do not accept the Terms.
                Contributors reserve the right to, at its sole discretion, to change, modify or otherwise alter the Terms at any time.
                Such changes, modifications, or alterations shall become effective immediately upon the posting thereof.
                You must review these Terms on a regular basis to keep yourself apprised of any changes.
                You can find the most recent version of the Terms at: <a href="{% url termsofuse %}">http://wehaveweneed.org/termsofuse/</a>.
                Should you object to any term or condition of the Terms or any subsequent modifications thereto, your only recourse is to discontinue use of the Services.
            </p>
        </li>
        <li>
            <!-- 2 -->
            <h3>Using We Have We Need</h3>
            <p>While using the We Have We Need site and Services, you will not:</p>
            <ul id="termsList">
                <li>use our site or the Services if you are not able to form legally binding contracts or are under the age of 18</li>
                <li>offer any service or item which is prohibited or restricted by any applicable law</li>
                <li>charge for any service or item posted</li>
                <li>post listings that include links to commercial services or web sites</li>
                <li>post listings that advertise any illegal service or item </li>
                <li>post content or items in an inappropriate category on our website</li>
                <li>violate any laws or third party rights</li>
                <li>post content that is unlawful, harmful, threatening, abusive, harassing, defamatory, libelous, invasive of another's privacy, or is harmful to minors in any way</li>
                <li>impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity</li>
                <li>use misleading email addresses, or forged headers or otherwise manipulated identifiers to disguise the origin of the posting transmitted through the Service</li>
                <li>post content that includes personal or identifying information about another person without that person's explicit consent</li>
                <li>post listings that are false, deceptive, misleading, deceitful, or misinformative, including but not limited to, falsely implying an affiliation with a third party organization</li>
                <li>post listings that you do not have a right to make available under any law or under contractual or fiduciary relationships</li>
                <li>post irrelevant items, repeatedly post the same or similar items or otherwise impose an unreasonable or disproportionately large load on our infrastructure</li>
                <li>fail to deliver items that you have agreed to send, unless the acceptor fails to meet the posted terms, or you cannot authenticate the Recipients' (as defined below) identity </li>
                <li>copy, modify, or distribute rights or content from the We Have We Need site or Service, or Contributors copyrights and trademarks </li>
                <li>harvest or otherwise collect information about We Have We Need users, including email addresses, without their consent</li>
                <li>contact anyone who has asked not to be contacted, or make unsolicited contact with anyone for any commercial purpose</li>
                <li>attempt to gain unauthorized access to Contributors computer systems or engage in any activity that disrupts, diminishes the quality of, interferes with the performance of, or impairs the functionality of, the Service or the We Have We Need site</li>
                <li>distribute or post spam, unsolicited, or bulk electronic communications, chain letters, or pyramid schemes</li>
                <li>distribute viruses or any other technologies that may harm, interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment, including but not limited to We Have We Need site, and the interests or property of We Have We Need users, or</li>
                <li>use any form of automated device or computer program that enables the submission of postings on the We Have We Need site without each posting being manually entered by the author thereof (an "automated posting device"), including without limitation, the use of any such automated posting device to submit postings in bulk, or for automatic submission of postings at regular intervals.</li>
            </ul>
        </li>
        <li>
            <!-- 3 -->
            <h3>Fees</h3>
            <p>
                The purpose of the We Have We Need project is to provide aid to the people of Haiti.
                As such, the We Have We Need site and Services are provided at no cost.
                Users agree not to charge, accept, or barter for any item(s) they offer or receive through the Services.
            </p>
        </li>
        <li>
            <!-- 4 -->
            <h3>Licenses</h3>
            <ol id="interiorList">
                <li>
                    Contributors gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by Contributors as part of the Services as provided to you through the We Have We Need site (referred to as the "Software" below).
                    This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by the We Have We Need site, in the manner permitted by the Terms.
                    You may not (and you may not permit anyone else to) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of the Software or any part thereof, unless this is expressly permitted or required by law.
                </li>
                <li>
                    You retain copyright and any other rights you already hold in any content which you submit, post or display on or through, the Services.
                    By submitting, posting or displaying the content you give Contributors a perpetual, irrevocable, worldwide, royalty-free, and non-exclusive license to reproduce, adapt, modify, translate, publish, publicly perform, publicly display and distribute any content which you submit, post or display on or through, the Services.
                    This license is for the sole purpose of enabling Contributors to display, distribute and promote the Services.
                    You agree that this license includes a right for Contributors to make such content available to other companies, organizations or individuals with whom the Contributors have relationships for the provision of syndicated services, and to use such content in connection with the provision of those services.
                    You understand that Contributors, in performing the required technical steps to provide the Services to our users, may (a) transmit or distribute your content over various public networks and in various media; and (b) make such changes to your content as are necessary to conform and adapt that content to the technical requirements of connecting networks, devices, services or media.
                    You agree that this license shall permit Contributors to take these actions.
                    You confirm and warrant to Contributors that you have all the rights, power and authority necessary to grant the above license.
                </li>
            </ol>
        </li>
        <li>
            <!-- 5 -->
            <h3>Proprietary rights</h3>
            <p>
                You acknowledge and agree that Contributors (or Contributors' licensors) own all legal right, title and interest in and to the Services, including any intellectual property rights which subsist in the Services (whether those rights happen to be registered or not, and wherever in the world those rights may exist).
                You further acknowledge that the Services may contain information which is designated confidential by Contributors and that you shall not disclose such information without Contributors' prior written consent.
                Unless you have agreed otherwise in writing with Contributors, nothing in the Terms gives you a right to use any of Contributors' trade names, trademarks, service marks, logos, domain names, and other distinctive brand features.
            </p>
        </li>
        <li>
            <!-- 6 -->
            <h3>Termination</h3>
            <p>
                You agree that Contributors, in their sole discretion, has the right (but not the obligation) to delete or deactivate your account, block your email or IP address, or otherwise terminate your access to or use of the Service (or any part thereof), immediately and without notice, and remove and discard any content you submitted within the Service, for any reason, including, without limitation, if Contributors believes that you have acted inconsistently with the letter or spirit of the Terms.
                Further, you agree that Contributors shall not be liable to you or any third-party for any termination of your access to the Service.
                Further, you agree not to attempt to use the Service after said termination.
                Sections 4.2 through 10 shall survive termination of the Terms.
            </p>
        </li>
        <li>
            <!-- 7 -->
            <h3>DISCLAIMER OF WARRANTIES</h3>
            <p>
                YOU AGREE THAT USE OF THE WE HAVE WE NEED SITE AND THE SERVICE IS ENTIRELY AT YOUR OWN RISK.
                THE WE HAVE WE NEED SITE AND THE SERVICE ARE PROVIDED ON AN "AS IS" OR "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND.
                ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS ARE EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMITTED BY LAW.
                TO THE FULLEST EXTENT PERMITTED BY LAW, EACH CONTRIBUTOR DISCLAIMS ANY WARRANTIES FOR THE SECURITY, RELIABILITY, TIMELINESS, ACCURACY, AND PERFORMANCE OF THE WE HAVE WE NEED SITE, THE SERVICE, AND ANY CONTENT PROVIDED TO YOU THROUGH THE SITE OR THE SERVICE.
                TO THE FULLEST EXTENT PERMITTED BY LAW, EACH CONTRIBUTOR DISCLAIMS ANY WARRANTIES FOR ANY GOODS RECEIVED THROUGH OR POSTED ON THE WE HAVE WE NEED SITE OR SERVICE, OR ACCESSED THROUGH ANY LINKS ON THE WE HAVE WE NEED SITE.
                TO THE FULLEST EXTENT PERMITTED BY LAW, EACH CONTRIBUTOR DISCLAIMS ANY WARRANTIES FOR VIRUSES OR OTHER HARMFUL COMPONENTS IN CONNECTION WITH THE WE HAVE WE NEED SITE OR THE SERVICE.
                SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES.
                IN SUCH JURISDICTIONS, SOME OF THE FOREGOING DISCLAIMERS MAY NOT APPLY TO YOU INSOFAR AS THEY RELATE TO IMPLIED WARRANTIES.
            </p>
        </li>
        <li>
            <!-- 8 -->
            <h3>LIMITATION OF LIABILITY</h3>
            <p>
                THE WE HAVE WE NEED SITE IS A VENUE THAT ALLOWS ANYONE TO OFFER AND ACCEPT TANGIBLE ITEMS FOR THE PURPOSES OF HELPING THOSE IN NEED.
                CONTRIBUTORS ARE NOT INVOLVED IN THE ACTUAL TRANSACTION BETWEEN OUR USERS THAT ARE DONATING THE SERVICES OR ITEMS ("DONORS") AND THOSE USERS RECEIVING THE SERVICES OR ITEMS ("RECIPIENTS").
                CONTRIBUTORS HAVE NO CONTROL OVER AND DO NOT GUARANTEE THE QUALITY, SAFETY, OR LEGALITY OF SERVICES OR ITEMS OFFERED, THE TRUTH OR ACCURACY OF USERS' CONTENT OR LISTINGS, THE ABILITY OF DONORS TO DONATE THE SERVICES OR ITEMS, THE ABILITY OF RECIPIENTS TO ACCEPT THE SERVICES OR ITEMS, OR THAT A DONOR OR RECIPIENT WILL ACTUALLY COMPLETE A TRANSACTION OR RETURN AN ITEM.
                CONTRIBUTORS DO NOT TRANSFER LEGAL OWNERSHIP OF ITEMS FROM THE DONOR TO THE RECIPIENT UNDER NO CIRCUMSTANCES SHALL CONTRIBUTORS BE LIABLE FOR DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES (EVEN IF CONTRIBUTORS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM ANY ASPECT OF YOUR USE OF THE WE HAVE WEN EED SITE OR THE SERVICE, WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF THE WE HAVE WE NEED SITE OR THE SERVICE, FROM INABILITY TO USE THE WE HAVE WE NEED SITE OR THE SERVICE, OR THE INTERRUPTION, SUSPENSION, MODIFICATION, ALTERATION, OR TERMINATION OF THE WE HAVE WE NEED SITE OR THE SERVICE.
                SUCH LIMITATION SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR PRODUCTS RECEIVED THROUGH THE WE HAVE WE NEED SITE OR THE SERVICE OR ANY LINKS ON THE WE HAVE WE NEED SITE, AS WELL AS BY REASON OF ANY INFORMATION OR ADVICE RECEIVED THROUGH THE WE HAVE WE NEED SITE OR THE SERVICE OR ANY LINKS ON THE WE HAVE WE NEED SITE.
                THESE LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW.
                REGARDLESS OF THE FOREGOING, CONTRIBTORS' LIABILTY (IN AGGREGATE) TO YOU OR ANY THIRD PARTY SHALL BE LIMITED TO $50.
                IN SOME JURISDICTIONS, LIMITATIONS OF LIABILITY ARE NOT PERMITTED.
                IN SUCH JURISDICTIONS, SOME OF THE FOREGOING LIMITATION MAY NOT APPLY TO YOU.
            </p>
        </li>
        <li>
            <!-- 9 -->
            <h3>Indemnity</h3>
            <p>You agree to indemnify and hold Contributors, and their officers, subsidiaries, affiliates, successors, assigns, directors, officers, agents, service providers, suppliers, employees, and volunteers harmless from any claim or demand, including reasonable attorney fees and court costs, made by any third party due to or arising out of content you submit, post or make available through the Service, your use of the Service, your violation of the Terms, your breach of any of the representations and warranties herein, or your violation of any rights of another.</p>
        </li>
        <li>
            <!-- 10 -->
            <h3>General Legal Terms</h3>
            <p>
                The Terms constitute the entire agreement between you and Contributors and govern your use of the Service, superseding any prior agreements between you and Contributors.
                You agree that if Contributors do not exercise or enforce any legal right or remedy which is contained in the Terms (or which Contributors have the benefit of under any applicable law), this will not be taken to be a formal waiver of Contributors rights and that those rights or remedies will still be available to Contributors.
                If any court of law, having the jurisdiction to decide on this matter, rules that any provision of these Terms is invalid, then that provision will be removed from the Terms without affecting the rest of the Terms.
                The remaining provisions of the Terms will continue to be valid and enforceable.
                The Terms, and your relationship with Contributors under the Terms, shall be governed by the laws of the State of California without regard to its conflict of laws provisions.
                You and Contributors agree to submit to the exclusive jurisdiction of the courts located within the county of Santa Clara, California to resolve any legal matter arising from the Terms.
                Notwithstanding this, you agree that Contributors shall still be allowed to apply for injunctive remedies (or an equivalent type of urgent legal relief) in any jurisdiction.
            </p>
        </li>
    </ol>

{% endblock %}  <!-- ltColumn -->