{% extends "base.html" %}
{% load timezone_filters %}

{% block bodyClass %}post{% endblock %}

{% block ltColumn %}

    {% ifequal user post.contact %}
        {% include 'includes/post_form.html' %}
    {% else %}
        <h2><span id="haveNeed_title">{{ post.type|title }}:</span> {{ post.title }}</h2>
        <dl>
            <dt>Organization</dt>
            <dd>{{ post.contact.get_profile.organization }}</dd>
            
            {% if user.is_authenticated and post.contact.get_profile.phone %}
                <dt>Phone #</dt>
                <dd>{{ post.contact.get_profile.phone }}</dd>
            {% endif %}    
            <dt>Location</dt> 
            <dd>{{ post.location }}</dd>

            <dt>Posted at</dt>
            <dd>{{ post.time_start|localtime:"EST"|date }}</dd>

            <dt>Priority</dt>
            <dd>{{ post.priority_full }}</dd>

            <dt>Category</dt>
            <dd>{{ post.category }}</dd>
            {% if post.object and post.number and post.unit %}
                <dt>Specific {{post.type}}</dt>
                <dd>{{post.number}} {{post.unit}} of {{post.object}}</dd>
            {% endif %}  
            <dt>Content</dt>
            <dd>{{ post.content|linebreaks }}</dd> 
        </dl>
    
        {% if user.is_authenticated %}
        <div id="replyBox">
            <h3>Reply</h3>
            <form action="." method="POST">
                <ul>
                    {{ form.as_ul }}
                    <li>
                        <button class="submitBtn" type="submit">
                            <span>Submit</span>
                        </button>
                    </li>
                </ul>
            </form>
            <p class="warning">Warning: your email address will be shared with the person you're replying to.</p>
        </div>
        {% else %}
        Please <a href="/login/">login</a> or
        <a href="/accounts/request/">request access</a> to reply.
        {% endif %} <!-- if user post.contact -->
    
    {% endifequal %} <!-- ifequal user post.user -->
{% endblock %}
